
<form #searchForm="ngForm" (ngSubmit) ="searchBank(searchForm)">
  <input name="search" id="search" placeholder="Search by Bank #" ngModel />
  <button>Search</button>
</form>

<div class="item-container" >
<div class="item card" *ngFor="let i of ingredients" >
  
    {{i.foodName}}
 
  <img class="item-picture" src="https://spoonacular.com/cdn/ingredients_100x100/{{i.foodImages}}"/>

  <!--<p>{{getIngredientQuantity(i)}}</p>-->

  <button (click)="addToCart(i)" >Add to Cart</button>

  <button (click)="deleteFromCart(i)">Remove From Cart</button>
  
</div>
 </div>
<app-checkout></app-checkout>
