<!--<div style="border: 1px solid black ">
  <h3>Sean Cavanaugh : spcavanaugh88@gmail.com </h3>
  <h3>Alice Ogadinma : alice.ogadinma@gmail.com </h3>

</div>-->

<div class="footer-font">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Helping Hands</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.linkedin.com/in/aliceogadinma/" target="_blank">Alice Ogadinma</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.linkedin.com/in/sean-cavanaugh-/" target="_blank">Sean Cavanaugh</a>
      </li>

     
    </ul>
  </div>
</nav>
  </div>
